body {
    background-color: #8758ff;
    color: white;
    display: flex;
    justify-content: center;
}

.todo-wrapper {
    background-color: #1A1A40;
    width: fit-content;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

/* 
.todo {
    display: flex;
    justify-content: center;
    align-items: center;
}
   */
.todo-input {
    outline: none;
    background: none;
    border: 1px solid #8758ff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #fff;
}

.todo-input::placeholder {
    color: #ffffff4d;
}

.todo-btn {
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}


.todoForm {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.incompleted {
    color: #fff;
    cursor: pointer;
}

.completed {
    color: #c5aeff;
    text-decoration: line-through;
    cursor: pointer;
}